.bar-dark {
  background: #212121!important;
}

.content-home {
  background: url('http://www.lifewaysport.com.br/site/web//resources/colecao/1491749500_MG_9103-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  height: 400px;
}

.bar-title {
  background: #f44336;
  padding: 10px;
  padding-top: 15px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
